* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body {
    
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
}


.navbar {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    height: 70px;
}
.navbar .brand-logo {
    flex: 1;
    flex-grow: 0;
    margin-left: 20px;
}
.navbar .navbar-links {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.navbar .navbar-links li {
    list-style: none;
    padding: 10px 20px;
}
.navbar .navbar-links li a{

    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
}
.navbar .navbar-links li a:hover{
    color: #5f5f5f;
}
.navbar .search-div {
    background-color: rgb(245, 245, 245);
    align-items: center;
    padding: 8px 10px;
    border-radius: 5px;
}
.navbar .search-div input {
    background-color: rgb(245, 245, 245);
    border: none;
    width: 300px;
    font-size: 12pt;
    outline: none;
}

.navbar .search-div i {
    color: #929292;
}
.navbar .navbar-icons {
    display: flex;
    justify-content: flex-end;
}
.navbar .shop-list {
    position: relative;
}
.navbar .shop-list:hover .shop-list-dropdown {
    visibility: visible;
    opacity: 1;
}
.navbar .shop-list-dropdown {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease;
    top: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.navbar .shop-list-dropdown li {
    margin: 0;
}
.navbar .shop-list-dropdown li a {
    padding: 10px 10px;
    color: white;
    text-decoration: none
}



.navbar .shop-list-categories {
    position: relative;
}
.navbar .shop-list-categories:hover .shop-list-categories-dropdown {
    visibility: visible;
    opacity: 1;
}
.navbar .shop-list-categories-dropdown {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease;
    left: 100%;
    background-color: rgba(0,0,0,0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.navbar .shop-list-categories-dropdown li {
    margin: 0;
}
.navbar .shop-list-categories-dropdown li a {
    padding: 10px 10px;
    color: white;
    text-decoration: none
}


/* ============================= Nav icons ============================ */

.navbar-icons {
    margin-right: 10px;
}
.navbar-icons li {
    list-style: none;
    margin: 0px 15px;
}
.navbar-icons li a {
    color: white;
    font-size: 13pt;
}


/* ============================= Text Carousel ============================ */
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .text-carousel {
    display: flex;
  }
  
  .text {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    transition: transform 0.5s ease;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .previous-carousel-button {
    left: 10px;
  }
  
  .next-carousel-button {
    right: 10px;
  }
  