.new-arrivals-section {
    position: relative;
    padding: 20px;
  }

  .new-arrivals-section h1 {
    color: rgb(14, 13, 14);
    font-size: 1.5em;
    text-align: center;
    padding: 2%;
  }
  
  .new-arrivals-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .new-arrivals-item {
    position: relative;
    width: 300px;
    height: 350px;
    min-width: 350px; /* Adjust based on your design */
    margin-right: 20px; /* Adjust spacing between items */
    border-radius: 15px; /* Rounded borders */
    overflow: hidden;
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better appearance */
  }
  
  .new-arrivals-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire item */
  }
  
  .new-patch {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }
  
  .new-patch h3 {
    margin: 0;
    font-size: 14px;
  }
  
  .new-arrivals-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent dark background */
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .new-arrivals-info h2 {
    margin: 5px 0;
  }
  
  .new-arrivals-rate {
    margin: 5px 0;
  }
  
  .new-arrivals-rate i {
    color: gold;
  }
  
  .new-arrivals-info h1 {
    margin: 5px 0;
  }
  
 