.featured-categories-section {
    position: relative;
    padding-bottom: 10px;
    background-color: rgb(236, 236, 236);        
}
.featured-categories-title {
    color: rgb(14, 13, 14);
    font-size: 1.5em;
    text-align: center;
    padding-top: 2%;
}
.categories-container {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3%;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;

}        

.category-card {
    border-radius: 10px;
    padding: 0px;
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: #C28181;
    position: relative;
}
.category-card img {
    position: absolute;
    width: 300px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
}
.category-card h1 {
    color: white;
    position: relative;
    top: 88%;
    font-size: 15pt;
    letter-spacing: 0.9pt;
}







