* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul {
    display: flex;
    align-items: center;
}