* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "main-page-section",
        "featured-categories-section",
        "new-arrivals-section",
        "customer-testimonials-section",
    ;   
}

/*========================================================== Navbar =================================================*/
.main-page-section {
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    text-align: center;

}
.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 0;
    z-index: 100;
}
.navbar-icons {
    display: flex;
    width: 7%;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.navbar-icons li {
    font-size: 1.1em;
    list-style: none;
}
.navbar-icons li a {
    color: white;
    text-decoration: none;
}
.navbar-links {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.navbar-links li {
    margin: 0px 20px;
    list-style: none;
}
.navbar-links li a {
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.navbar-links li a:hover {
    color: rgb(105, 105, 105);
    border-bottom: 2px solid white;
}
.search-div {
    background-color: #f7f7f7;
    border-radius: 6px;
    width: 250px;
}
.search-div input {
    padding: 10px;
    width: 200px;
    outline: none;
    background-color: #f7f7f7;
    border: none;
}
.search-div .fa-search {
    color: #494848;
}

.carousel-text {
    position: relative;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    transition: all 0.5 ease-in-out;
    min-width: 100%;
    overflow: hidden;
    
    max-width: 600px;
    
}
.carousel-content {
    display: none;
    color: white;
    font-size: 22pt;
    line-height: 1.5;
    position: relative;
}
.carousel-content p {
    font-size: 14pt;
    color: #eee;
}
.carousel-content.active {
    display: block; /* Show the active content */
}
.carousel-text-controllers {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: yellowgreen;
    transform: translateY(50%);
    display: flex;
}
.carousel-text-controllers .fa-angle-left {
    font-size: 24pt;
    color: white;
    left: 5%;
    position: absolute;
}
.carousel-text-controllers .fa-angle-right {
    font-size: 24pt;
    color: white;
    position: absolute;
    right: 5%;
}
.carousel-text-controllers button {
    border: none;
    background: none;
    cursor: pointer;
}
.show-now-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    top: 90%;
    border: none;
    color: white;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
    font-size: 10pt;
}
.show-now-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 12pt;
}

/*========================================================== Navbar =================================================*/


.navbar .shop-list {
    position: relative;
}
.navbar .shop-list:hover .shop-list-dropdown {
    visibility: visible;
    opacity: 1;
}
.navbar .shop-list-dropdown {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease;
    top: 100%;
    transform: translateY(20%);
    left: 0;
    background-color: rgba(0,0,0,0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.navbar .shop-list-dropdown li {
    margin: 10px;
}
.navbar .shop-list-dropdown li a {
    color: white;
    text-decoration: none
}



.navbar .shop-list-categories {
    position: relative;
}
.navbar .shop-list-categories:hover .shop-list-categories-dropdown {
    visibility: visible;
    opacity: 1;
}
.navbar .shop-list-categories-dropdown {
    display: block;
    position: absolute;
    top: -10px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease;
    left: 100%;
    transform: translateX(4%);
    background-color: rgba(0,0,0,0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.navbar .shop-list-categories-dropdown li {
    padding: 10px 10px;
    margin: 0;
}
.navbar .shop-list-categories-dropdown li a {
    color: white;
    text-decoration: none
}


/*========================================================== FEATURED CATEGORIES =================================================*/
.featured-categories-section {
    background-color: #f7f7f7;
    padding: 20px;
    align-items: center;
    justify-content: space-between  ;
    }
    .featured-categories-title {
        font-family: 'Arial', sans-serif;
        text-align: center;
    margin: 50px;
    font-size: 18pt;
    }

.categories-container {
    margin: 0px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.category-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}



.image-container {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.category-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-card:hover .category-image {
    transform: scale(1.1);
}

.category-details {
    padding: 10px;
}

.category-title {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
    font-weight: bold;
}

.category-description {
    font-size: 0.95em;
    color: #555;
    margin: 10px 0;
}

.view-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #2980b9;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.view-button:hover {
    background: #1c5980;
    transform: scale(1.05);
}
/*========================================================== NEW ARRIVALS =================================================*/

.new-arrivals-section {
    text-align: center;
    padding: 20px;
    position: relative;
}

.new-arrivals-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.new-arrivals-leftbtn,
.new-arrivals-rightbtn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.new-arrivals-leftbtn {
    left: 10px;
}

.new-arrivals-rightbtn {
    right: 10px;
}

.new-arrivals-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.new-arrival-card {
    position: relative;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-arrival-card__badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75em;
    border-radius: 3px;
    text-transform: uppercase;
}

.new-arrival-card__image-container {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.new-arrival-card__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.new-arrival-card:hover .new-arrival-card__image {
    transform: scale(1.1);
}

.new-arrival-card__details {
    padding: 5px;
}

.new-arrival-card__title {
    font-size: 1.5em;

    color: #333;
    font-weight: bold;
}

.new-arrival-card__description {
    font-size: 0.95em;
    color: #555;
    margin-top: 10px;
}


.new-arrival-card__price {
    font-size: 1.4em;
    color: #27ae60;
    margin: 5px 0px;
    font-weight: bold;
}

.new-arrival-card__cart-button {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background: #2980b9;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.new-arrival-card__cart-button:hover {
    background: #1c5980;
    transform: scale(1.05);
}

.new-arrival-card__cart-button i {
    margin-right: 5px;
}





/*========================================================== CUSTOMER TESTIMONIALS =================================================*/

.customer-testimonials-section {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.customer-testimonials-section-title {
    text-align: center;
    color: #008ce4;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0px;
}

.customer-testimonials-section-subtitle {
    text-align: center;
    color: #2b2b2b;
    font-size: 26pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0px;
}
.customer-testimonials-section .customers-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers-container {
    background-color: #008ce4;
    width: 90%;
    display: flex;
    overflow: hidden;
    max-width: 1800px;
}
.customer-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px 10px 20px; /* Adjust margin to create space for the image */
    text-align: center;
    min-width: 400px;
    position: relative;
    padding-top: 40px; /* Space for the image */
    padding-bottom: 10px; /* Space for the image */
}
.customer-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #fff; /* Optional: adds a white border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.testimonial__text {
    font-size: 1.2em;
    color: #333;
    margin: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial__text i {
    color: #2980b9;
    font-size: 1.5em;
}
.testimonial__quote-start {
    margin-right: 10px;
}
.testimonial__quote-end {
    margin-left: 10px;
}
.testimonial__author {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.testimonials-scroll-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 60%;
    background-color: #1c5980;
    z-index: 20;
}

.testimonials-scroll-buttons .fa {
    padding: 10px;
    cursor: pointer;
    font-size: 20pt;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #a0a0a0;
}
.testimonials-scroll-buttons .testimonials-rightbtn-scroll {
    position: absolute;
    right: 0px;

}






